<!--<p>
    <span popover="Hover over trigger event"
          triggers="" #pop="bs-popover">
    </span>
  </p>-->
  <style type="text/css">
    #mynetwork {
      width: 100vw;
      height: 90vh;
      border: 1px solid lightgray;
      background-image: "src/assets/polkaDots.jpeg";
    }
</style>

<!--<div *ngFor="let unit of units">
    <div>{{unit.name}}</div>
</div>-->
  

  <div id="mynetwork" #siteConfigNetwork></div>
  <app-search-bar (searchEvent)="Search($event)"></app-search-bar>
  <label>
    <input type="button" name="Reset Button" value="Reset" id="Reset_Button" unchecked />
  </label>
  
 


