<html>
<head>
  <title>Network</title>
  <script
    type="text/javascript"
    src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
  ></script>
  <style type="text/css">
    #mynetwork {
      width: 90vw;
      height: 90vh;
      border: 1px solid lightgray;
    }
  </style>
</head>
<body>
<div>
  <app-search-bar></app-search-bar>
</div>


<div id="mynetwork"></div>
<script src = "template.js"></script>
<script src = "data.js"></script>
<script src = "network.js" defer> </script>

<!-- Search form -->
<form class="form-inline waves-light" mdbWavesEffect>
  <div class="md-form mt-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
  </div>
</form>

</body>
</html>
